#Carpeta de trabajo:
Archivos_que_no_deben_subirse

#Carpeta de Archivos Mediflow:
Almacen_Local
Carpeta_Almacenamiento
Archivos_Originales
Imagenes_Procesadas
Datos_Clinicos

# Ignorar las credenciales api_keys:
.env

# Byte-compiled / optimized files
__pycache__/
*.py[cod]

# Archivo de la Mac:
.DS_Store

# IDEs
.vscode/

# Logs
*.log

# Base de datos vectorial de Chroma
chroma_db/